<ion-header>
  <ion-toolbar>
    <ion-title>Infantil</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/infantil/streetwear">Streetwear</ion-button>
      <ion-button routerLink="/infantil/christian">Christian</ion-button>
      <ion-button routerLink="/infantil/ao-pedido-do-cliente">Ao Pedido do Cliente</ion-button>
      <ion-button routerLink="/infantil/animes">Animes</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Explore nossos produtos infantis!</p>
</ion-content>
