<ion-header>
  <ion-toolbar>
    <ion-title>Masculino</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/masculino/streetwear">Streetwear</ion-button>
      <ion-button routerLink="/masculino/christian">Christian</ion-button>
      <ion-button routerLink="/masculino/ao-pedido-do-cliente">Ao Pedido do Cliente</ion-button>
      <ion-button routerLink="/masculino/animes">Animes</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Explore nossos produtos masculinos!</p>
</ion-content>
