<ion-header>
  <ion-toolbar>
    <ion-title>Loja Virtual</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/feminino">Feminino</ion-button>
      <ion-button routerLink="/masculino">Masculino</ion-button>
      <ion-button routerLink="/infantil">Infantil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Bem-vindo à nossa loja virtual!</p>
</ion-content>
<!--<ion-select [(ngModel)]="selectedPrice" (ionChange)="filterProducts()">
  <ion-select-option value="0-50">Até R$50</ion-select-option>
  <ion-select-option value="51-100">R$51 - R$100</ion-select-option>
</ion-select>
<ion-list>
  <ion-item *ngFor="let product of filteredProducts">
    <ion-label>{{ product.name }} - R$ {{ product.price }}</ion-label>
  </ion-item>
</ion-list>-->
